<!DOCTYPE html>
<html lang="en">


<meta name="pageKey" content="d_jobs_guest_search">
<meta name="linkedin:pageTag" content="jserp_custom">
<meta name="locale" content="en_US">
<meta id="config" data-app-id="com.linkedin.jobs-guest-frontend.d_web" data-custom-tracking-code=""
      data-tracking-page-type=""/>
<link rel="canonical" href="https://www.linkedin.com/jobs/python-jobs">
<!--    <link rel="icon" href="https://static-exp1.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico">-->
<!--    <link rel="icon" type="image/png" href="http://example.com/myicon.png">-->
<!--    NAVBAR FROM LANDING-->
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/try.css') }}">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<script>
        function getDfd() {let yFn,nFn;const p=new Promise((y, n)=>{yFn=y;nFn=n;});p.resolve=yFn;p.reject=nFn;return p;}window.lazyloader = getDfd();window.tracking = getDfd();window.impressionTracking = getDfd();








</script>
<script src="https://static-exp1.licdn.com/sc/h/ofo3fqmypus602g02dqvlu6r" async></script>
<meta name="description"
      content="Today&rsquo;s top 79,000+ {{search_keyword}} jobs in {{job_location}}. Leverage your professional network, and get hired. New {{search_keyword}} jobs added daily.">
<meta name="robots" content="noarchive">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="litmsProfileName" content="jobs-guest-frontend">
<meta charset="utf-8">
<meta property="lnkd:url"
      content="https://www.linkedin.com/jobs/search?keywords={{search_keyword}}&amp;location={{jobLocation}}&amp;trk=public_jobs_jobs-search-bar_search-submit"/>
<meta name="twitter:card" content="summary_large_image"/>

<meta name="twitter:description"
      content="Today&rsquo; {{search_keyword}} jobs in {{jobLocation}}. Leverage your professional network, and get hired. New {{search_keyword}} jobs added daily."/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://www.linkedin.com/jobs/python-jobs"/>
<meta property="og:description"
      content="Today&rsquo;s t {{search_keyword}} jobs in {{jobLocation}}. Leverage your professional network, and get hired. New {{search_keyword}} jobs added daily."/>
<link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/d8wojapcqqx06cwrxvnl92ym7"/>
<title>{{search_keyword}} Jobs in {{jobLocation}}</title>
<meta property="og:title" content="{{search_keyword}} Jobs in {{jobLocation}} "/>
<meta name="twitter:title" content="{{search_keyword}} Jobs in {{jobLocation}} "/>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<style>

    .firma-ara{
    padding-bottom: 400px;
    padding-top: 100px;
}
.form-arka-plan{
    background-image: url("https://cdn.filepicker.io/api/file/1WxRtkAQG5h70aoPQdGA/convert?format=jpeg&quality=50");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.acik-renk-form{
    background: rgba(255, 255, 255, 0.58);
}
.siyah-cerceve{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}












</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<script>
    function next_button_click(){
    console.log("INSIDE FORM");
    var date_filter = document.getElementById("date_filter").value || "";
    var source_filter = document.getElementById("source_filter").value || "";
    var jobtype_filter = document.getElementById("jobtype_filter").value || "";
    var search_filter = document.getElementById("search_filter").value || "";
    var location_filter = document.getElementById("location_filter").value || "";

    document.getElementById("next_page_form_date").value =  date_filter;
    document.getElementById("next_page_form_source").value =  source_filter;
    document.getElementById("next_page_form_jobtype").value =  jobtype_filter;
    document.getElementById("next_page_form_search").value =  search_filter;
    document.getElementById("next_page_form_location").value =  location_filter;
    console.log(document.getElementById("next_page_form_date").value);
    console.log(document.getElementById("next_page_form_source").value);
    console.log(document.getElementById("next_page_form_jobtype").value);
    console.log(document.getElementById("next_page_form_search").value);
    console.log(document.getElementById("next_page_form_location").value);

    var next_page_form = document.getElementById("next_page_form")
    next_page_form.submit();
    }

    function previous_button_click(){
    console.log("INSIDE FORM");
    var date_filter = document.getElementById("date_filter").value || "";
    var source_filter = document.getElementById("source_filter").value || "";
    var jobtype_filter = document.getElementById("jobtype_filter").value || "";
    var search_filter = document.getElementById("search_filter").value || "";
    var location_filter = document.getElementById("location_filter").value || "";

    document.getElementById("previous_page_form_date").value =  date_filter;
    document.getElementById("previous_page_form_source").value =  source_filter;
    document.getElementById("previous_page_form_jobtype").value =  jobtype_filter;
    document.getElementById("previous_page_form_search").value =  search_filter;
    document.getElementById("previous_page_form_location").value =  location_filter;
    console.log(document.getElementById("previous_page_form_date").value);
    console.log(document.getElementById("previous_page_form_source").value);
    console.log(document.getElementById("previous_page_form_jobtype").value);
    console.log(document.getElementById("previous_page_form_search").value);
    console.log(document.getElementById("previous_page_form_location").value);

    var next_page_form = document.getElementById("previous_page_form")
    previous_page_form.submit();
    }

</script>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <form class="navbar-form navbar-left" action="/common/" method="GET">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="form-group ">
                                <select id="source_filter" class="form-control" name='source' style="height: 35px;">
                                    <option disabled selected>Select source</option>

                                    <option {%if selected_source=="linkedin" %} value="linkedin" selected {%else%} value="linkedin" {%endif%}>LinkedIn</option>
                                    <option {%if selected_source=="dice" %} value="dice" selected {%else%} value="dice" {%endif%}>Dice</option>
                                </select>
                            </div>
                            <div class="form-group ">
                                <select id="jobtype_filter" name='jobtype' class="form-control" style="height: 35px;">
                                    <option disabled selected>Job type</option>
                                    <option value="F" id="JOB_TYPE-0">Full-time</option>
                                    <option value="O" id="JOB_TYPE-1">Other</option>
                                    <option value="I" id="JOB_TYPE-2">Internship</option>
                                    <option value="C" id="JOB_TYPE-3">Contract</option>
                                    <option value="P" id="JOB_TYPE-4">Part-time</option>
                                </select>

                            </div>
                            <div class="form-group ">
                                <select id="date_filter" class="form-control" name='date' style="height: 35px;">
                                    <option value={{search_time}} id="TIME_POSTED-4">{{search_time}}</option>
<!--                                    <option value="1" id="TIME_POSTED-0"{% if search_time =="1" %} selected {% endif %}>past 24 hours</option>-->
                                    <option value="1" id="TIME_POSTED-0">past 24 hours</option>-->
                                    <option value="1,2" id="TIME_POSTED-1">past week</option>
                                    <option value="1,2,3,4" id="TIME_POSTED-2">past month</option>
                                    <option value id="TIME_POSTED-3" selected>any time</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6">
                        <div class="row" style="width:450px">
                            <input id="search_filter" type="text" class="form-control" placeholder="Enter keyword" name="search"
                                   value="{{search_keyword}}">
                            <input id="location_filter" type="text" class="form-control" placeholder="Enter Location" name="location"
                                   value="{{search_location}}">
                            <button class="btn btn-default form-control" type="submit"><i
                                    class="glyphicon glyphicon-search"></i></button>
                        </div>


                    </div>

                </div>
            </form>
        </div>
    </div>

    </div>

    </form>
    </div>


    </form>


    </div>
</nav>
<!--<script src="https://static-exp1.licdn.com/sc/h/7alwu5woukn2ysszt5k9ibj2u" async defer></script>-->


<!--<section class="search-banner text-white py-3" id="search-banner">-->
<!--    <div class="container py-5 my-5">-->
<!--        <div class="row text-center pb-4">-->
<!--            <div class="col-md-12">-->
<!--                <h2 class="text-white siyah-cerceve">ALL FILTERS</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-10">-->

<!--                <form action="/common/" method="GET">-->
<!--                    <div class="row">-->
<!--                        <div class="col-xs-3">-->
<!--                            <div class="form-group ">-->
<!--                                <select id="iller" class="form-control" name='source'>-->

<!--                                    <option disabled selected>Select source</option>-->
<!--                                    <option value="linkedin">Linkedin</option>-->
<!--                                    <option value="dice">Dice</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-xs-3">-->
<!--                            <div class="form-group ">-->
<!--                                <select id="ilceler" name='jobtype' class="form-control">-->
<!--                                    <option disabled selected>Job type</option>-->
<!--                                    <option value="F" id="JOB_TYPE-0">Full-time</option>-->
<!--                                    <option value="O" id="JOB_TYPE-1">Other</option>-->
<!--                                    <option value="I" id="JOB_TYPE-2">Internship</option>-->
<!--                                    <option value="C" id="JOB_TYPE-3">Contract</option>-->
<!--                                    <option value="P" id="JOB_TYPE-4">Part-time</option>-->
<!--                                </select>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-xs-4">-->
<!--                            <div class="form-group ">-->
<!--                                <select id="arac-turu" class="form-control" name='date'>-->

<!--                                    <option value="1" id="TIME_POSTED-0">past 24 hours</option>-->
<!--                                    <option value="1,2" id="TIME_POSTED-1">past week</option>-->
<!--                                    <option value="1,2,3,4" id="TIME_POSTED-2">past month</option>-->
<!--                                    <option value id="TIME_POSTED-3" selected>any time</option>-->
<!--                                </select>-->


<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="row">-->


<!--                            <div class="col-md-4">-->
<!--                                <button type="submit" class="btn btn-warning  pl-5 pr-5">submit</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--    </div>-->
<!--</section>-->

<main id="main-content" class="results results--two-pane" role="main">
    <!--    <div class="results__container results__container&#45;&#45;two-pane">-->
    <div class="results__container" style="width:1000px;">
        <section class="results__list">
            <div class="create-alert-modal__outlet-container">
                <button id="create-alert-modal-outlet" data-modal="create-alert-modal-outlet"
                        class="create-alert-modal__outlet" data-impression-id="public_jobs_create-alert-modal-outlet"
                        data-tracking-control-name="public_jobs_create-alert-modal-outlet">Get notified about new jobs
                </button>
            </div>
            <div class="results-context-header"><h1 class="results-context-header__context"><span
                    class="results-context-header__job-count"></span><span
                    class="results-context-header__query-search">Results for "{{search_keyword}} jobs"</span><span
                    class="results-context-header__new-jobs"></span></h1></div>
            <ul class="jobs-search__results-list">
                {% for job_post in data_list %}
                <li class="result-card job-result-card result-card--with-hover-state" data-column="1"
                    data-entity-urn="urn:li:jobPosting:1852303789" data-id={{job_post["job_id"]|default('',true)}}
                    data-row="1"
                    data-search-id="a9600b63-2abb-45f1-8330-dd406aa1bd16" data-tracking-id="PGRbL/QKRh+An3J9j3FRSA=="><a
                        class="result-card__full-card-link"
                        data-tracking-control-name="public_jobs_job-result-card_result-card_full-click"
                        data-tracking-will-navigate=""
                        href={{job_post["title_url"]|default('',true)}}><span
                        class="screen-reader-text">{{job_post["title"]|default('',true)}}</span></a>
                    <img
                            alt={{job_post['image_alt']|default('',true)}} aria-hidden="true"
                            class="artdeco-entity-image job-result-card artdeco-entity-image--company job-result-card--company artdeco-entity-image--square-4 job-result-card--square-4 result-card__image lazy-load"
                            data-delayed-url="{{job_post['companyLogoUrl']|default('',true)}}"
                            data-ghost-classes="artdeco-entity-image--ghost job-result-card--ghost artdeco-entity-image--ghost-company job-result-card--ghost-company"
                            data-ghost-url="https://static-exp1.licdn.com/sc/h/ck48xrmh3ctwna0w2y1hos0ln"
                            src="https://static-exp1.licdn.com/sc/h/ck48xrmh3ctwna0w2y1hos0ln""/>
                    <div class="result-card__contents job-result-card__contents"><h3
                            class="result-card__title job-result-card__title">
                        {{job_post['title']|default('',true)}}</h3><h4
                            class="result-card__subtitle job-result-card__subtitle"><a
                            class="result-card__subtitle-link job-result-card__subtitle-link"
                            data-tracking-control-name="public_jobs_job-result-card_result-card_subtitle-click"
                            data-tracking-will-navigate=""
                            href={{job_post['companyPageUrl']|default('',true)}}>Company Name :
                        {{job_post['companyName']|default('',true)}}</a>
                    </h4>
                        <div class="result-card__meta job-result-card__meta"><span class="job-result-card__location">Job Location : {{ job_post['jobLocation']['displayName']|default('',true)}}</span>
                            <p class="job-result-card__snippet">{{job_post['summary']|default('',true)}}</p>
                            <time class="job-result-card__listdate"
                                  datetime={{job_post['job_post_date']|default('',true)}}>
                                Posted Date : {{job_post['postedDate']|default('',true)}}
                            </time>
                            <br>
                            <span>  {{job_post['employmentType']|default('',true)}}</span>
                        </div>
                    </div>
                    <div class="job-result-card__right-corner"></div>
                </li>
                {% endfor %}


            </ul>
        </section>
    </div>


</main>
<code id="deferredScripts" style="display: none;">
    <!--"https://static-exp1.licdn.com/sc/h/7mqf15vjjk0ug3y8uba85d4h6,2x5kqucj94q60u4h0y0lccx0u,50c94owe2hqfdq6fsy1t7ogu"--></code>
<script type="text/javascript" src="https://static-exp1.licdn.com/sc/h/9amsffua7mf4yxa5hev82f5h2"></script>
<div id="toasts" class="toasts toasts--bottom" data-close-toast-string="Close" type="bottom"></div>
<code id="i18n_redirected_from_deleted_alert" style="display: none;">
    <!--"This job alert has been deactivated."--></code>
<div>
    <div id="create-alert-modal" class="modal create-alert-modal guest-job-alert-modal"
         data-outlet="create-alert-modal-outlet">
        <div class="modal__overlay create-alert-modal__overlay guest-job-alert-modal__overlay">
            <section aria-modal="true" role="dialog" aria-labelledby="modal-section-Create job alert" tabindex="-1"
                     class="modal__wrapper create-alert-modal__wrapper guest-job-alert-modal__wrapper">
                <header class="modal__header create-alert-modal__header guest-job-alert-modal__header"><h2
                        id="modal-section-Create job alert"
                        class="modal__title create-alert-modal__title guest-job-alert-modal__title">Create job
                    alert</h2>
                    <button class="modal__dismiss create-alert-modal__dismiss guest-job-alert-modal__dismiss modal__dismiss--with-icon create-alert-modal__dismiss--with-icon guest-job-alert-modal__dismiss--with-icon"
                            aria-label="Dismiss"
                            data-tracking-control-name="public_jobs_create-alert-modal_modal_dismiss">
                        <icon class="modal__dismiss-icon"
                              data-delayed-url="https://static-exp1.licdn.com/sc/h/44ge8ey0omn5oqp0k388nhe7g"></icon>
                    </button>
                </header>
                <main class="modal__main create-alert-modal__main guest-job-alert-modal__main">
                    <form class="create-alert-form">
                        <div class="create-alert-form__body"><p class="create-alert-form__header">Get email updates for
                            new <strong class="break-word">Python</strong> jobs in <strong>United States</strong></p>
                            <p class="create-alert-form__subline"></p>
                            <section class="dismissable-input create-alert-form-input"><input type="text"
                                                                                              aria-label="Email address*"
                                                                                              name="create-alert-email"
                                                                                              maxLength="500"
                                                                                              class="dismissable-input__input"
                                                                                              value=""
                                                                                              placeholder="Email address*"
                                                                                              autocomplete="off"
                                                                                              data-tracking-control-name="public_jobs_create-alert-modal_email-address_dismissable-input"
                                                                                              required>
                                <button type="button" class="dismissable-input__button"
                                        data-tracking-control-name="public_jobs_create-alert-modal_email-address_dismissable-input-clear">
                                    <label class="screen-reader-text">Dismiss</label>
                                    <icon class="dismissable-input__button-icon"
                                          data-delayed-url="https://static-exp1.licdn.com/sc/h/cs55jggk4p3uqh9ozxdmpvjg7"></icon>
                                </button>
                            </section>
                            <code id="i18n_create_alert_invalid_email" style="display: none;">
                                <!--"Please enter a valid email address"--></code><code id="i18n_generic_error_message"
                                                                                        style="display: none;">
                                <!--"Your job alert couldn\'t be created, please try again later."--></code>
                            <p class="create-alert-error-message create-alert-error-message--email" role="alert">
                                <icon class="create-alert-error-message__icon lazy-load"></icon>
                                <span class="create-alert-error-message__container"><span
                                        class="create-alert-error-message__text"></span></span></p>
                            <p class="create-alert-form__agreement-links">By creating this job alert, you agree to the
                                LinkedIn <a class="create-alert-form__agreement-item-link"
                                            href="https://www.linkedin.com/legal/user-agreement?trk=public_jobs_create-alert-modal_create-alert-form_user-agreement"
                                            target="_blank" rel="noopener"
                                            data-tracking-control-name="public_jobs_create-alert-modal_create-alert-form_user-agreement"
                                            data-tracking-will-navigate>User Agreement</a> and <a
                                        class="create-alert-form__agreement-item-link"
                                        href="https://www.linkedin.com/legal/privacy-policy?trk=public_jobs_create-alert-modal_create-alert-form_privacy-policy"
                                        target="_blank" rel="noopener"
                                        data-tracking-control-name="public_jobs_create-alert-modal_create-alert-form_privacy-policy"
                                        data-tracking-will-navigate>Privacy Policy</a>. You can unsubscribe from these
                                emails at any time.</p><code id="i18n_create_alert_invalid_email"
                                                             style="display: none;">
                                <!--"Please enter a valid email address"--></code><code id="i18n_generic_error_message"
                                                                                        style="display: none;">
                                <!--"Your job alert couldn\'t be created, please try again later."--></code>
                            <p class="create-alert-error-message create-alert-error-message--generic" role="alert">
                                <icon class="create-alert-error-message__icon lazy-load"></icon>
                                <span class="create-alert-error-message__container"><span
                                        class="create-alert-error-message__text"></span><a
                                        class="create-alert-error-message__sign-in-link hidden"
                                        href="https://www.linkedin.com/uas/login?emailAddress=&amp;fromSignIn=true&amp;session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fjobs%2Fsearch%3Fkeywords%3Dpython%26location%3DUnited%2BStates%26trk%3Dpublic_jobs_jobs-search-bar_search-submit&amp;trk=public_jobs_create-alert-modal_create-alert-form_over-limit-sign-in-link"
                                        data-tracking-control-name="public_jobs_create-alert-modal_create-alert-form_over-limit-sign-in-link"
                                        data-tracking-will-navigate>Sign in to create more</a></span></p>
                        </div>
                        <footer class="create-alert-form__footer">
                            <button class="create-alert-form__footer-button"
                                    data-tracking-control-name="public_jobs_create-alert-modal_create-alert-form_submit"
                                    type="submit">Create job alert
                            </button>
                        </footer>
                    </form>
                    <div class="alert-activation-status alert-activation-status--hidden">
                        <div class="alert-activation-status__body">
                            <icon class="alert-activation-status__icon"
                                  data-delayed-url="https://static-exp1.licdn.com/sc/h/1pjl08u5za2jj8q9xphhmbq1r"></icon>
                            <p class="alert-activation-status__headline">Your job alert is set</p>
                            <p class="alert-activation-status__subline">Click the link in the email we sent to <span
                                    id="guest-email" class="break-word"></span> to verify your email address and
                                activate your job alert.</p></div>
                        <footer class="alert-activation-status__footer">
                            <button class="alert-activation-status__footer-button"
                                    data-tracking-control-name="public_jobs_create-alert-modal_alert-activation-status-close"
                                    onclick="actionDetermine();">
                                Done
                            </button>
                        </footer>
                    </div>
                    <div class="create-alert-sign-in-form__container create-alert-sign-in-form__container--hidden">
                        <div class="create-alert-sign-in-form__header"><p class="create-alert-sign-in-form__headline">
                            Welcome back</p>
                            <p class="create-alert-sign-in-form__subline">Sign in to create your job alert for <span
                                    class="create-alert-sign-in-form__query-info">Python</span> jobs in <span
                                    class="create-alert-sign-in-form__query-info">United States</span>.</p></div>
                        <code id="i18n_sign_in_form_show_text" style="display: none;"><!--"Show"--></code><code
                            id="i18n_sign_in_form_show_label" style="display: none;">
                        <!--"Show your LinkedIn password"--></code><code id="i18n_sign_in_form_hide_text"
                                                                         style="display: none;">
                        <!--"Hide"--></code><code id="i18n_sign_in_form_hide_label" style="display: none;">
                        <!--"Hide your LinkedIn password"--></code><code id="i18n_username_error_empty"
                                                                         style="display: none;">
                        <!--"Please enter an email address or phone number"--></code><code
                            id="i18n_username_error_too_long" style="display: none;">
                        <!--"Email or phone number must be between 3 to 128 characters"--></code><code
                            id="i18n_username_error_too_short" style="display: none;">
                        <!--"Email or phone number must be between 3 to 128 characters"--></code><code
                            id="i18n_password_error_empty" style="display: none;">
                        <!--"Please enter a password"--></code><code id="i18n_password_error_too_short"
                                                                     style="display: none;">
                        <!--"The password you provided must have at least 6 characters"--></code><code
                            id="i18n_password_error_too_long" style="display: none;">
                        <!--"The password you provided must have at most 400 characters"--></code>
                        <form class="sign-in-form create-alert-sign-in-form"
                              action="https://www.linkedin.com/uas/login-submit" method="post" novalidate><input
                                type="hidden" name="loginCsrfParam" value="d047ceae-3d39-4213-8119-e6e16f532687"/>
                            <div class="sign-in-form__inputs create-alert-sign-in-form__inputs">
                                <div class="input create-alert-sign-in-form"><input name="session_key" type="text"
                                                                                    class="input__field create-alert-sign-in-form__field input__field--with-label create-alert-sign-in-form__field--with-label"
                                                                                    aria-label="Type your email or phone number"
                                                                                    required
                                                                                    autocomplete="username"/><label
                                        class="input__label create-alert-sign-in-form__label" for="session_key">Email or
                                    phone</label>
                                    <p class="input__message create-alert-sign-in-form__message hidden"
                                       for="session_key" role="alert"></p></div>
                                <div class="input create-alert-sign-in-form"><input name="session_password"
                                                                                    type="password"
                                                                                    class="input__field create-alert-sign-in-form__field input__field--with-label create-alert-sign-in-form__field--with-label"
                                                                                    aria-label="Type your LinkedIn password"
                                                                                    required
                                                                                    autocomplete="current-password"/><label
                                        class="input__label create-alert-sign-in-form__label" for="session_password">Password</label>
                                    <button class="sign-in-form__password-visibility-toggle create-alert-sign-in-form__password-visibility-toggle"
                                            type="button" aria-label="Show your LinkedIn password"
                                            data-tracking-control-name="public_jobs_create-alert-modal_sign-in-password-visibility-toggle-btn">
                                        Show
                                    </button>
                                    <p class="input__message create-alert-sign-in-form__message hidden"
                                       for="session_password" role="alert"></p></div>
                                <input type="hidden" name="session_redirect"
                                       value="https://www.linkedin.com/jobs/search?keywords=python&amp;location=United+States&amp;trk=public_jobs_jobs-search-bar_search-submit"/>
                            </div>
                            <div class="sign-in-form__footer create-alert-sign-in-form__footer"><a
                                    class="sign-in-form__forgot-password create-alert-sign-in-form__forgot-password"
                                    href="https://www.linkedin.com/uas/request-password-reset?trk=public_jobs_create-alert-modal_forgot_password"
                                    data-tracking-control-name="public_jobs_create-alert-modal_forgot_password"
                                    data-tracking-will-navigate>Forgot password?</a><input type="hidden" name="trk"
                                                                                           value="public_jobs_create-alert-modal_sign-in-submit"/>
                                <button type="submit"
                                        class="sign-in-form__submit-btn create-alert-sign-in-form__submit-btn"
                                        data-tracking-control-name="public_jobs_create-alert-modal_sign-in-submit-btn"
                                        data-tracking-litms>Sign in
                                </button>
                            </div>
                        </form>
                    </div>
                </main>
            </section>
        </div>
    </div>
</div>
<div class="cta-modal" data-impression-id="public_jobs_cta-modal" role="dialog" aria-labelledby="cta-modal-header"
     aria-describedby="cta-modal-subheader"><h2 id="cta-modal-header" class="cta-modal__header">You&#39;re signed
    out</h2>
    <h3 id="cta-modal-subheader" class="cta-modal__subheader">Sign in for the full experience</h3><a
            class="cta-modal__primary-btn"
            href="https://www.linkedin.com/uas/login?emailAddress=&amp;fromSignIn=true&amp;session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fjobs%2Fsearch%3Fkeywords%3Dpython%26location%3DUnited%2BStates%26trk%3Dpublic_jobs_jobs-search-bar_search-submit&amp;trk=public_jobs_conversion-modal-signin"
            data-tracking-control-name="conversion-modal-signin" data-tracking-will-navigate>Sign in</a><a
            class="cta-modal__secondary-btn"
            href="https://www.linkedin.com/signup/cold-join?source=jobs_registration&amp;session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fjobs%2Fsearch%3Fkeywords%3Dpython%26location%3DUnited%2BStates%26trk%3Dpublic_jobs_jobs-search-bar_search-submit&amp;trk=public_jobs_conversion-modal-join"
            data-tracking-control-name="conversion-modal-join" data-tracking-will-navigate>Join now</a>
    <button class="cta-modal__dismiss-btn" data-tracking-control-name="public_jobs_dismiss" aria-label="Dismiss">
        <icon class="cta-modal__dismiss-icon onload"
              data-delayed-url="https://static-exp1.licdn.com/sc/h/44ge8ey0omn5oqp0k388nhe7g"></icon>
    </button>
</div>
<footer class="li-footer">
    <ul class="li-footer__list">
        <li>

            <form id="next_page_form" method="GET" action="/common/">
                <input id="next_page_form_source" type="hidden" name="source"/>
                <input id="next_page_form_jobtype" type="hidden" name="jobtype"/>
                <input id="next_page_form_date" type="hidden" name="date"/>
                <input id="next_page_form_search" type="hidden" name="search"/>
                <input id="next_page_form_location" type="hidden" name="location"/>
                <input id="next_page_form_page" type="hidden" name="page" value="{{next_page_count}}"/>
                <input id="next_page_form_pageSize" type="hidden" name="pageSize" value="20"/>
            </form>
            <button class="button button5" onclick="next_button_click()">NEXT</button>

            <form id="previous_page_form" method="GET" action="/common/">
                <input id="previous_page_form_source" type="hidden" name="source"/>
                <input id="previous_page_form_jobtype" type="hidden" name="jobtype"/>
                <input id="previous_page_form_date" type="hidden" name="date"/>
                <input id="previous_page_form_search" type="hidden" name="search"/>
                <input id="previous_page_form_location" type="hidden" name="location"/>
                <input id="previous_page_form_page" type="hidden" name="page" value="{{previous_page_count}}"/>
                <input id="previous_page_form_pageSize" type="hidden" name="pageSize" value="20"/>
            </form>

            <button class="button button1" onclick="previous_button_click()">PREVIOUS</button>

        </li>
    </ul>
</footer>
<section id="json-refs"><code id="requestSubdomain" style="display: none;"><!--"www"--></code><code
        id="dust-var-pageKey" style="display: none;"><!--"d_jobs_guest_search"--></code><code
        id="dust-var-savedSearchList" style="display: none;"><!--false--></code><code id="dust-var-savedSearchUrl"
                                                                                      style="display: none;">
    <!--false--></code><code id="dust-var-isRedirectedFromDeletedAlert" style="display: none;"><!--false--></code>
</section>
</body>
</html>